@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html{
  height: 100%;
  width: 100%;
}

:root { 
  --background-grey: -webkit-linear-gradient(90deg, #000000,#3a3939);
  --background-blue: -webkit-linear-gradient(180deg, #00eaff,#000000);                           
  --font-family-title: "Michroma", serif;
  --font-family-text: "IBM Plex Mono", sans-serif;
  --font-color: white;
  --secondary-color: #00EAFF;
}

html, body {
  margin: 0;
  font-family: var(--font-family-text);
  background: var(--background-blue);
  color: var(--font-color);
}


p{
  font-family: var(--font-family-text);
}


h1, h2, h3, h4, h5{
  font-family: var(--font-family-title);
}

nav{
  font-family: var(--font-family-text);
}


.logo {
  animation: pulse 0.5s infinite ease-in-out alternate;
}

@keyframes pulse {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
}


/* nav bar */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-family: var(--font-family-title);
}

.logo{
  width: 7%;
}

nav ul li,a{
  text-decoration: none;
  list-style: none;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
}

nav ul li,a:hover{
  color: rgb(0, 0, 0);
}

ul{
  display: flex;
  gap: 30px;
}

.imgTelechargement{
  width: 25px;
  height: fit-content;
}
.btnTelecharger{
  display: flex;
  align-items: center;
  gap: 20px;
}

.telechargements{
  font-family: var(--font-family-title);
}

.navbarObject{
  padding: 10px 30px;
}